.header {
  all: initial;
  display: flex;
  background-color: yellowgreen;
  font: inherit;

  @media(width <= 720px) {
    background-color: green;
  }

}

.menu-item {
  padding: 10px;
  background-color: #666;
  color: white;
  text-decoration: none;

  &:hover {
    background-color: #444;
  }

  &:active {
    background-color: #222;
  }

  &.active {
    background-color: tomato;
    pointer-events: none;
    z-index: 1;
  }
}
