@import url(https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic);

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
TomskJS style
*/

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    position: relative;
    background: url(img/logo.svg);
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
}

.announcement {
    font-size: 14px;
    color: #262626;
    line-height: 19px;
    margin-bottom: 20px;
    width: 300px;
    animation: 1s content ease 300ms;
}


.social {
    margin-top: 20px;
    display: flex;
    animation: 1s content ease 300ms;
}

.social__vk {
    background: url(img/vk.svg);
    width: 88px;
    height: 50px;
    text-decoration: none;
    margin-right: 20px;
}

.social__tw {
    background: url(img/tw.svg);
    width: 62px;
    height: 50px;
    text-decoration: none;
    margin-left: 20px;
}



.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform-origin: 50% 50%;

    animation: 1s bg ease;

}

@keyframes bg {
    0% {
        background: #009741;
        transform: scale(30);
    }
    60% {
        transform: scale(1);
        background: rgba(0, 151, 65,1)
    }
    100% {
        background: rgba(0, 151, 65,0)
    }
}

@keyframes content {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}