.list {
  all: initial;
  font: inherit;
}

.item {
  all: initial;
  position: relative;
  display: list-item;
  font: inherit;
  list-style-type: none;
  margin-left: 15px;

  &:not(:last-child) {
    margin-bottom: 3px;
  }

  &::before {
    content: '▶︎';
    font-size: .6em;
    position: absolute;
    left: -15px;
    top: 4px;
    color: var(--color-poisonous-green);
  }
}
