.list {
  all: initial;
  font: inherit;
}

.item {
  all: initial;
  display: list-item;
  font: inherit;
  list-style-type: none;
  margin-left: 15px;

  &:not(:last-child) {
    margin-bottom: 3px;
  }

  &::before {
    content: '• ';
  }
}
