<!doctype html>
<html lang=ru>
  <head>
    <title>TomskJS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="format-detection" content="telephone=no"/>
    <%if (typeof config !== 'undefined') { %>
      <link rel=stylesheet href="<%= config.clientCSS %>">
    <% } %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <%if (typeof content !== 'undefined') { %>
        <%= content %>
      <% } %>
    </div>
    <%if (typeof config !== 'undefined') { %>
      <script src="<%= config.clientJavaScript %>"></script>
    <% } %>
  </body>
</html>
