@import '../../styles/variables.css';

.text {
  all: initial;
  color: inherit;
  font: inherit;
  line-height: 1.2;
}

@define-mixin size $keyword, $font-size {
  .size-$keyword {
    font-size: $font-size;
    @media (--medium) {
      font-size: calc($font-size - 1);
    }
    @media (--small) {
      font-size: calc($font-size - 2);
    }
  }
}

@mixin size l, 20px;
@mixin size m, 18px;
@mixin size s, 15px;
