.input {
  all: initial;
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  padding: 16px 16px 16px 60px;
  border: none;
  outline-style: none;
  background-color: rgba(0, 0, 0, .003);
  color: inherit;
  font: inherit;
  line-height: 34px;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, .03);

  &::placeholder {
    font-style: italic;
    font-weight: 100;
  }
}
