
.title {
  margin: 0;
  color: var(--color-poisonous-green);
  font-weight: normal;
}

.sizeL {
  font-size: 42px;

  @media (--desktop) {
    font-size: 52px;
  }
}

.sizeM {
  font-size: 32px;

  @media (--desktop) {
    font-size: 42px;
  }
}

.sizeS {
  font-size: 25px;

  @media (--desktop) {
    font-size: 32px;
  }
}

.sizeXS {
  font-size: 20px;
}
