.layout {
  background-color: white;
  @media (--desktop) {
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: calc(100vh - 60px);
    max-width: calc(100vw - 60px);
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    box-shadow: 0 2px 4px 0 color(black alpha(0.5));
  }
}
