@import '../../styles/variables.css';

.title {
  all: initial;
  display: block;
  color: $c-ocean-green;
  font: inherit;
  font-weight: normal;
  line-height: 75px;
}

@define-mixin size $keyword, $font-size {
  .size-$keyword {
    font-size: $font-size;
    @media (--medium) {
      font-size: calc($font-size - 3);
    }
    @media (--small) {
      font-size: calc($font-size - 6);
    }
  }
}

@mixin size l 52px;
@mixin size m 42px;
@mixin size s 32px;
@mixin size xs 25px;
@mixin size xss 20px;
