@import '../../styles/variables.css';


.tweets {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin-x: auto;
}

.tweet {
  width: 49%;
  padding-x: .5%;

  @media (width < 800px) {
    width: 98%;
    margin-x: auto;
  }
}
