.activities {
  margin-top: 30px;
  padding-bottom: 30px;
}

.title {
  margin-left: 30px;

  @media (--desktop) {
    margin-left: 90px;
  }
}

.content {
  @media (--desktop) {
    margin-left: 80px;
    margin-right: 80px;
  }
}
