.footer {
  all: initial;
  display: flex;
  justify-content: space-between;
  height: 20px;
  padding: 10px 15px;
  border-top: 1px solid #e6e6e6;
  color: #777;
  font: inherit;
  font-size: 14px;
  line-height: @height;
  text-align: center;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, .2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, .2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, .2);
}

.filter {
  margin-x: 5px;
  padding: 3px 7px;
  transition: border-color .2s;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: transparent;
  color: inherit;
  text-decoration: none;

  &:hover {
    border-color: rgba(175, 47, 47, .1);
  }
}

.filterActive {
  border-color: rgba(175, 47, 47, 0.2);
  pointer-events: none;
}

.clear {
  all: initial;
  color: inherit;
  font: inherit;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
