.activity {
  padding: 10px;
  border-radius: 5px;

  @media (--desktop) {
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
  }
}

.title {
  margin-bottom: 8px;
}

.highlighted {
  margin: 0;
  border-top: 1px solid var(--color-green);
  border-bottom: 1px solid var(--color-green);
  border-radius: 0;
  background-color: var(--color-cornsilk);

  & > .content {
    @media (--desktop) {
      margin-left: 80px;
      margin-right: 80px;
    }
  }
}
