.counter {
  all: initial;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: aqua;
  font: inherit;
}

.button {
  width: 30px;
  height: @width;
  margin-x: 5px;
  border: none;
  border-radius: 50%;
  background-color: white;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
  }

  &:focus {
    outline-style: none;
    box-shadow: 0 0 2px 1px #309BFF;
  }

  &:active {
    background-color: #aaa;
  }
}

.count {
  display: inline-block;
  width: 30px;
  text-align: center;
}
