@import '../../styles/variables.css';

.link {
  all: initial;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: currentColor;
  color: $c-blue;
  font: inherit;

  &:hover {
    color: #00b8ff;
  }

  &:focus {
    color: red;
  }

  &:visited {
    color: #8b25ff;
  }
}
