@import './reset.css';

.app {
  all: initial;
  display: block;
  position: absolute;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: 'Open Sans';
  font-weight: 300;
}
