.logo {
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;

  @media (--desktop) {
    margin-top: 35px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.heading {
  display: inline-block;
  margin-top: 20px;
}

.headerText {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  clear: both;

  @media (--desktop) {
    margin-right: 50px;
    clear: initial;
  }
}

.descriptions {
  @media (--desktop) {
    margin-top: 60px;
  }
}

.description {
  margin-top: 25px;
  clear: both;

  & .descriptionTitle {
    margin-left: 30px;
    margin-right: 30px;

    @media (--desktop) {
      margin-left: 90px;
      margin-right: 90px;
    }
  }

  & .text {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

    @media (--desktop) {
      margin-left: 100px;
      margin-right: 100px;
    }
  }
}


.title {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 15px;

  @media (--desktop) {
    margin-left: 90px;
  }
}
